.wrap {
  width: 100%;
  display: flex;
}

.wareki {
  width: 300px;
  height: 200px;
}

.tens_place, .ones_place {
  margin-top: 15px;
  width: 100px;
  height: 200px;
}

@media (min-width: 1926px) and (max-width: 1926px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1927px) and (max-width: 1927px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1928px) and (max-width: 1928px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1929px) and (max-width: 1929px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1930px) and (max-width: 1930px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1931px) and (max-width: 1931px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1932px) and (max-width: 1932px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1933px) and (max-width: 1933px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1934px) and (max-width: 1934px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1935px) and (max-width: 1935px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1936px) and (max-width: 1936px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1937px) and (max-width: 1937px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1938px) and (max-width: 1938px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1939px) and (max-width: 1939px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1940px) and (max-width: 1940px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1941px) and (max-width: 1941px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1942px) and (max-width: 1942px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1943px) and (max-width: 1943px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1944px) and (max-width: 1944px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1945px) and (max-width: 1945px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1946px) and (max-width: 1946px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1947px) and (max-width: 1947px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1948px) and (max-width: 1948px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1949px) and (max-width: 1949px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1950px) and (max-width: 1950px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1951px) and (max-width: 1951px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1952px) and (max-width: 1952px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1953px) and (max-width: 1953px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1954px) and (max-width: 1954px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1955px) and (max-width: 1955px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1956px) and (max-width: 1956px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1957px) and (max-width: 1957px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1958px) and (max-width: 1958px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1959px) and (max-width: 1959px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1960px) and (max-width: 1960px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1961px) and (max-width: 1961px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1962px) and (max-width: 1962px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1963px) and (max-width: 1963px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1964px) and (max-width: 1964px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1965px) and (max-width: 1965px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1966px) and (max-width: 1966px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1967px) and (max-width: 1967px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1968px) and (max-width: 1968px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1969px) and (max-width: 1969px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1970px) and (max-width: 1970px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1971px) and (max-width: 1971px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1972px) and (max-width: 1972px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1973px) and (max-width: 1973px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1974px) and (max-width: 1974px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1975px) and (max-width: 1975px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1976px) and (max-width: 1976px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1977px) and (max-width: 1977px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1978px) and (max-width: 1978px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1979px) and (max-width: 1979px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1980px) and (max-width: 1980px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1981px) and (max-width: 1981px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1982px) and (max-width: 1982px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1983px) and (max-width: 1983px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1984px) and (max-width: 1984px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1985px) and (max-width: 1985px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1986px) and (max-width: 1986px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1987px) and (max-width: 1987px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1988px) and (max-width: 1988px) {
  .wareki {
    background-image: url("./img/shyowa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1989px) and (max-width: 1989px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1990px) and (max-width: 1990px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1991px) and (max-width: 1991px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1992px) and (max-width: 1992px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1993px) and (max-width: 1993px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1994px) and (max-width: 1994px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1995px) and (max-width: 1995px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1996px) and (max-width: 1996px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1997px) and (max-width: 1997px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1998px) and (max-width: 1998px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1999px) and (max-width: 1999px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2000px) and (max-width: 2000px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2001px) and (max-width: 2001px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2002px) and (max-width: 2002px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2003px) and (max-width: 2003px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2004px) and (max-width: 2004px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2005px) and (max-width: 2005px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2006px) and (max-width: 2006px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2007px) and (max-width: 2007px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2008px) and (max-width: 2008px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2009px) and (max-width: 2009px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2010px) and (max-width: 2010px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2011px) and (max-width: 2011px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2012px) and (max-width: 2012px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/4.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2013px) and (max-width: 2013px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/5.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2014px) and (max-width: 2014px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/6.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2015px) and (max-width: 2015px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/7.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2016px) and (max-width: 2016px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/8.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2017px) and (max-width: 2017px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/9.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2018px) and (max-width: 2018px) {
  .wareki {
    background-image: url("./img/heisei.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/3.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2019px) and (max-width: 2019px) {
  .wareki {
    background-image: url("./img/reiwa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/1.png");
    background-repeat: no-repeat;
  }
}
@media (min-width: 2020px) and (max-width: 2020px) {
  .wareki {
    background-image: url("./img/reiwa.png");
    background-repeat: no-repeat;
  }

  .tens_place, .ones_place {
    background-image: url("./img/0.png");
    background-repeat: no-repeat;
  }

  .ones_place {
    background-image: url("./img/2.png");
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=style.css.map */
